<template id="alert-quienes-somos">
    <swal-title class= "swal swal-title">
      ¿QUIENES SOMOS?
    </swal-title>
    <swal-text class= "swal swal-parrafo">
        ¿QUIENES SOMOS?
    </swal-title>
    <swal-button type="confirm">
      Save As
    </swal-button>
    <swal-button type="cancel">
      Cancel
    </swal-button>
    <swal-button type="deny">
      Close without Saving
    </swal-button>
    <swal-param name="allowEscapeKey" value="false" />
    <swal-param
      name="customClass"
      value='{ "popup": "my-popup" }' />
    </template>




<!------------------------

    title: '<title class="swal swal-title">'+title+'</title>',
        width: 600,
        padding: '3em',
        color: '#fff',
        background: '#3398db',
        backdrop: `
          rgba(0,0,123,0.4)
          url("/images/nyan-cat.gif")
          left top
          no-repeat
        `

--------->